# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.env.*

# Virtual environment
venv/
.venv/

# VS Code settings
.vscode/

# Windows system files
Thumbs.db

# Test
test_env.py
test_try.py

# Optional: Data files
data/
*.csv
*.json